/*
*
*   Whenever you want to activate/deactivate
*   a prefix based property, please check www.caniuse.com
*
*   Work performed by Claudiu Limban
*   on September 2013
*
*/

clearfix()
    &:before, &:after
        content ' '
        display table
    &:after
        clear both

/*-----------------------------------------------------------------------------------*/

border-radius()
    //-moz-border-radius arguments
    //-webkit-border-radius arguments
    border-radius arguments

/*-----------------------------------------------------------------------------------*/

transition()
    //-moz-transition arguments
    //-o-transition arguments
    -webkit-transition arguments
    transition arguments

/*-----------------------------------------------------------------------------------*/

transition-delay()
    //-moz-transition arguments
    //-o-transition arguments
    -webkit-transition-delay arguments
    transition-delay arguments

/*-----------------------------------------------------------------------------------*/

box-shadow()
    //-moz-box-shadow arguments
    //-webkit-box-shadow arguments
    box-shadow arguments

/*-----------------------------------------------------------------------------------*/

appearance()
    -moz-appearance arguments
    -webkit-appearance arguments
    appearance arguments

/*-----------------------------------------------------------------------------------*/

box-sizing()
    -moz-box-sizing arguments
    -webkit-box-sizing arguments
    box-sizing arguments

/*-----------------------------------------------------------------------------------*/

transform()
    -moz-transform arguments
    -webkit-transform arguments
    -ms-transform arguments
    transform arguments

/*-----------------------------------------------------------------------------------*/

user-select()
    -moz-user-select arguments
    -webkit-user-select arguments
    -ms-user-select arguments
    user-select arguments

/*-----------------------------------------------------------------------------------*/

opacity()
    filter unquote('alpha(opacity=' + round(arguments * 100) + ')')
    opacity arguments





/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*      The EXTRA                                                                    */
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

arrow-helper(width1, color1, width2, color2)
    position relative
    &:after, &:before
        content ' '
        width 0
        height 0
        position absolute
        border solid transparent
        pointer-events none
    &:before
        border-width (width1 / 2 + width2)
    &:after
        border-width (width1 / 2)


arrow-top(width1, color1, width2 = 0, color2 = #FFF)
    arrow-helper(width1, color1, width2, color2)
    &:after, &:before
        bottom 100%

    &:before
        left 50%
        border-color transparent transparent color2
        margin-left -(width1 / 2 + width2)
    &:after
        left 50%
        border-color transparent transparent color1
        margin-left -(width1 / 2)


arrow-right(width1, color1, width2 = 0, color2 = #FFF)
    arrow-helper(width1, color1, width2, color2)
    &:after, &:before
        left 100%
    &:before
        top 50%
        border-color transparent transparent transparent color2
        margin-top -(width1 / 2 + width2)
    &:after
        top 50%
        border-color transparent transparent transparent color1
        margin-top -(width1 / 2)


arrow-bottom(width1, color1, width2 = 0, color2 = #FFF)
    arrow-helper(width1, color1, width2, color2)
    &:after, &:before
        top 100%
    &:before
        left 50%
        border-color color2 transparent transparent transparent
        margin-left -(width1 / 2 + width2)
    &:after
        left 50%
        border-color color1 transparent transparent transparent
        margin-left -(width1 / 2)


arrow-left(width1, color1, width2 = 0, color2 = #FFF)
    arrow-helper(width1, color1, width2, color2)
    &:after, &:before
        right 100%
    &:before
        top 50%
        border-color transparent color2 transparent transparent
        margin-top -(width1 / 2 + width2)
    &:after
        top 50%
        border-color transparent color1 transparent transparent
        margin-top -(width1 / 2)

/*-----------------------------------------------------------------------------------*/

