/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* FOOTER *//*////////////////////////////////////////////////////////////////////////////////////////////////////*/

    body > footer { margin:0; color:@color_gray_dark_01; overflow-x:hidden;
        & > div { background-color:@color_gray_light_01; box-shadow:0 0 3px rgba(0, 0, 0, 0.3); }
        a { color:@color_gray_dark_01;
            &:hover { color:@main_color; text-decoration:none; }
        }

        .section { padding:15px 5%; .clearfix();
            &:nth-child(even) { background-color:@color_gray_light_02; }
            &.copy { font-size:12px;
                p { line-height:25px; }
                div:nth-child(2) p { text-align:right;
                    i { width:35px; height:25px; background-image:url('../img/romania.png'); margin:0 4px; -webkit-filter:grayscale(100%); filter:grayscale(100%); vertical-align:middle; display:inline-block; }
                    &:hover i { -webkit-filter:grayscale(0%); filter:grayscale(0%); }
                }
                .digitalocean { width:130px; height:21px; background-image:url('../img/digitalocean_logo.png'); margin-left:10px; opacity:0.5; vertical-align:-5px; display:inline-block;
                    &:hover { opacity:0.8; }
                }
            }
        }

        .go_up { float:right; font-weight:700; font-size:14px; color:@color_gray_dark_01;
            &:hover { color:@main_color; }
        }

        .social { float:left; }
    }

    @media only screen and (max-width:767px) {
        body > footer {
            .go_up { float:none; margin:0 auto 30px; display:block; }
            .social { float:none; text-align:center;
                a { margin:0 5px; padding:5px 10px; font-size:30px; }
            }
            .section.copy p, .section.copy div:nth-child(2) p { text-align:center; }
        }
    }

/* end of FOOTER *//*/////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/