/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MIXINS AND GENERAL *//*////////////////////////////////////////////////////////////////////////////////////////*/

    @import 'inc\_variables';
    @import 'inc\_mixins';
    @import 'inc\_base';






/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* HEADER *//*///////////////////////////////////////////////////////////////////////////////////////////////////*/

    header {}

/* end of HEADER *//*////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* FOOTER *//*////////////////////////////////////////////////////////////////////////////////////////////////////*/

    footer {}

/* end of FOOTER *//*/////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/







/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MEDIA QUERIES & PRINT *//*/////////////////////////////////////////////////////////////////////////////////////*/

    @import 'inc\_extra';